# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual environment
# =====================
venv/
.env

# =====================
# Logs
# =====================
*.log

# =====================
# OS / Editor
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =====================
# Local data
# =====================
*.sqlite3
